.projects__container {
  padding-right: 160px;
  padding-bottom: 80px;
  padding-left: 160px;
}

.projects__descr {
  margin-bottom: 24px;
  margin-top: 0;
  max-width: 1080px;
}

.projects__link {
  position: relative;
  z-index: 0;
  color: #9d5cd0;
  transition: color .2s ease-in-out;
}

.projects__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -5px;
  bottom: 0;
  left: -5px;
  transition: background-color .3s ease-in-out;
}

.projects__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 1px;
  opacity: 0;
  background-color: #9d5cd0;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

.projects__link:focus-visible {
  color: white;
}

.projects__link:focus-visible.projects__link::before {
  background-color: #9d5cd0;
}

.projects__link:active {
  color: #7943a4;
}

.projects__link:active.projects__link::after {
  opacity: 1;
  background-color: #7943a4;
}

.projects__link:hover.projects__link::after {
  opacity: 1;
}

.projects__link-extra-2 {
  display: none;
}

.projects-descr-tooltip {
  display: inline-block;
  padding: 1px 0;
  border: none;
  line-height: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.projects-descr-tooltip svg {
  margin-bottom: -4px;
  width: 16px;
  height: 16px;
  fill: white;
}

.projects-descr-tooltip-border {
  transition: fill .2s ease-in-out;
  stroke: #9d5cd0;
}

.projects-descr-tooltip-symbol {
  transition: fill .2s ease-in-out;
  fill: black;
}

.projects-descr-tooltip:focus-visible .projects-descr-tooltip-border {
  fill: #d1a9f0;
}

.projects-descr-tooltip:hover .projects-descr-tooltip-border {
  fill: #d1a9f0;
}

.projects-descr-tooltip:active .projects-descr-tooltip-border {
  fill: #9d5cd0;
}

.projects-descr-tooltip:active .projects-descr-tooltip-symbol {
  fill: #fff;
}

.projects-descr-tooltip.projects-descr-tooltip--active .projects-descr-tooltip-border {
  transition: fill .2s ease-in-out;

  fill: #9d5cd0;
}

.projects-descr-tooltip.projects-descr-tooltip--active .projects-descr-tooltip-symbol {
  transition: fill .2s ease-in-out;

  fill: white;
}

.tippy-box[data-theme~="test-tooltip"] {
  border-radius: 0;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background-color: #9d5cd0;
}

.tippy-box[data-theme~="test-tooltip"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #9d5cd0;
}

.tippy-box[data-theme~="test-tooltip"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #9d5cd0;
}

.tippy-box[data-theme~="test-tooltip"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: #9d5cd0;
}

.tippy-box[data-theme~="test-tooltip"][data-placement^="right"] > .tippy-arrow::before {
  border-right-color: #9d5cd0;
}

.projects__swiper-title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.projects__swiper-container {
  position: relative;
  padding: 0 54px;
}

.projects__swiper {
  max-width: 1450px;
}

.projects__list {
  align-items: center;
  line-height: 0;
}

.projects__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
  width: 100%;
  transition: border-color .2s ease-in-out;
  aspect-ratio: 3 / 1;
}

.projects__item-link-box {
  position: relative;
}

.projects__item:nth-child(1) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(2) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(3) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(4) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(5) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(6) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(7) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(8) .projects__item-link-box {
  width: 100%;
}

.projects__item:nth-child(9) .projects__item-link-box {
  width: 100%;
}

.projects__item-link-box-img {
  transition: opacity .2s ease-in-out;
}

.projects__item-link-box-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.projects__item-link:focus-visible {
  border-color: #9d5cd0;
}

.projects__item-link:active {
  border-color: #9d5cd0;
}

.projects__item-link:active .projects__item-link-box-img-hover {
  opacity: 1;
}

.projects__item-link:hover .projects__item-link-box-img-hover {
  opacity: 1;
}

.projects__swiper-btn {
  position: absolute;
  border: 2px solid transparent;
  border-radius: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: #ececec;
  cursor: pointer;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
  transform: translateY(-50%);
}

.projects__swiper-btn svg {
  position: absolute;
  top: 37%;
  transition: stroke .2s ease-in-out;
  stroke: black;
}

.projects__swiper-btn-prev {
  z-index: 10;
  left: 0;
}

.projects__swiper-btn-next {
  z-index: 10;
  right: 0;
}

.projects__swiper-btn-prev svg {
  left: 22%;
  transform: rotate(90deg);
}

.projects__swiper-btn-next svg {
  right: 22%;
  transform: rotate(-90deg);
}

.projects__swiper-btn:focus-visible {
  border-color: #9d5cd0;
}

.projects__swiper-btn:hover {
  background-color: #d1a9f0;
}

.projects__swiper-btn:active {
  border-color: #9d5cd0;
  background-color: #d1a9f0;
}

.projects__swiper-btn.swiper-button-disabled {
  border-color: transparent;
  background-color: #ececec;
  cursor: default;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.projects__swiper-btn.swiper-button-disabled svg {
  transition: stroke .2s ease-in-out;
  stroke: #cacaca;
}

@media (max-width: 1024px) {
  .projects__container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .projects__descr {
    max-width: 658px;
    margin-bottom: 30px;
  }

  .projects__link-extra {
    display: none;
  }

  .projects__link-extra-2 {
    display: none;
  }

  .projects__swiper-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .projects__container {
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .projects__title {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
  }

  .projects__descr {
    margin-bottom: 50px;
    width: 291px;
  }

  .projects__swiper-title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
  }

  .projects__link-extra,
  .projects__link-extra-2 {
    display: inline-block;
  }

  .projects-descr-tooltip {
    padding: 1px 2px;
  }

  .projects-descr-tooltip svg {
    margin-bottom: -3px;
  }

  .projects__swiper-container {
    padding: 0 48px;
  }

  .projects__link::before {
    top: 33px;
    left: -228px;
  }

  .projects__link::after {
    left: -228px;
  }
}
